body {
    margin: 0px;
    padding: 0px;
}
main {
    padding: 16px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}
img {
    height: 200px;
}
nav {
    border-bottom: 1px solid black;
    padding: 16px;
}
th {
    text-align: left;
}
table {
    border-spacing: 15px;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 10px;
}
.taco {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
a {
    text-decoration: none;
    color: #44803F;
}
h1 {
    color: #146152;
}
.a1{
    color: white;
}
nav {
    background-color: #FF5A33;
}
footer {
    background-color: #B4CF66;
    font-size: larger;
    padding-left: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
tr:nth-child(even){
    background-color: lightgray;
}
